.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #000000cc;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitem {
    margin-left: 5rem;
}

.animtext {
  background: linear-gradient(247deg, #ed1a1a, #ef00ff, #00b9ff);
  background-size: 600% 600%;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}